extends ../layout
block content
  if(errors)
  else
    
  h2.text-center LOGIN
  form(method='post')
    .form-group
      label(for='exampleInputEmail1') Email
      input#exampleInputEmail1.form-control(type='text', placeholder='Email...' name='email')
    .form-group
      label(for='exampleInputEmail2') Password
      input#exampleInputEmail2.form-control(type='text', placeholder='Password...' name='password')
    button.btn.btn-primary(type='submit') Login
  

      
      