extends ../layout
block content
  
  if error
    .alert.alert-danger= error
  h2.text-center Create new user
  form(method='post')
    .form-group
      label(for='exampleInputNamel1') Name
      input#exampleInputName1.form-control(type='text', placeholder='Name...' name='name')
    .form-group
      label(for='exampleInputPhone2') Phone
      input#exampleInputPhone2.form-control(type='text', placeholder='Phone...' name='phone')
      .form-group
      label(for='exampleInputEmail1') Email
      input#exampleInputEmail1.form-control(type='email', placeholder='Email...' name='email')
    .form-group
      label(for='exampleInputPassword2') Password
      input#exampleInputPassword2.form-control(type='password', placeholder='Password...' name='password')
    button.btn.btn-primary(type='submit') Submit
      

      
      