extends ../layout

block content

  h2.text-center Create new book
  form(action='/books' method='post')
    .form-group
      input.form-control(name='title' type='text' id='title')
      lable(for='title') Title
    .form-group
      label(for='exampleFormControlTextarea1') Description
      textarea#exampleFormControlTextarea1.form-control(rows='2' name='des')
    button.btn.btn-primary(type='submit') Submit