extends ../layout

block content
  h2.text-center Books
  .list-group
    if books.length > 0
      each book in books
        a(href=`/books/${book.id}/delete` class='ml-auto') Delete
        a.list-group-item.mb-2.list-group-item-action.flex-column.align-items-start.active(href=`/books/${book.id}/update`)
          .d-flex.w-100.justify-content-between
            h5.mb-1= book.title
            small 3 days ago
          p.mb-1= book.des
    else
      h2.text-center Don't have books in your store
      a(href='/') Back to Home


  a(href='/books/create') create new book