ul 
  if books.length > 0
   each book in books
     li
       span title: &nbsp
       span= book.title
       br
       span Description: &nbsp
       span= book.des
       br
       a(href='/books/' + book.id + '/delete') Delete
       span &nbsp
       a(href='/books/' + book.id + '/update') Update
      
  else
    li Don't have books in your store
    a(href='/') Back to Home

a(href='/books/create') create new book