h2 Update book
form(action='/books/update' method='put')
  
  input(name='title' type='text' value=book.title)
  lable Title
  br
  
  input(name='des' type='text' value=book.des)
  lable Desription
  br
  button Update