h2 Update book
form(action='/books/' + book.id + '/update' method='post')
  
  input(name='title' type='text' value=book.title)
  lable Title
  br
  
  input(name='des' type='text' value=book.des)
  lable Desription
  br
  button Update