extends ../layout

block content

  h2.text-center Update book
  form(action='/' + book.id + '/update' method='post')
    .form-group
      input.form-control(name='title' type='text' id='title' value=book.title)
      lable(for='title') Title
    .form-group
      label(for='exampleFormControlTextarea1') Description
      textarea#exampleFormControlTextarea1.form-control(rows='2' name='des' value=book.des)
    button.btn.btn-primary(type='submit') Update
