extends ../layout

block content
  h2.text-center Transantion

  form(method='post')
    .form-group
      label(for='user') Select User
      select#user.form-control(name='user')
        each user in users
          option(value=user.name)= user.name
      label(for='user') Select Book
      select#book.form-control(name='book')
        each book in books
          option(value=book.title)= book.title
    button.btn.btn-primary(type='submit') Create