extends ../layout

block content
    if carts
      table.table
        thead
        tbody
          each cart in carts
            tr
              td
                img(src='https://picsum.photos/200/300', style='max-width: 100px')
              td
                h2 Sanh hay hay hay
                div
                  p Description
                  a(href='/cart/:id/delete')
                    | Delete
              td
                h2 1000000 $
    else