extends ../layout

block content
    h2.ml-3 Carts
    if carts && carts.length > 0
      table.table
        thead
        tbody
          each cart in carts
            tr
              td
                img(src=cart.img, style='max-width: 100px')
              td
                h2= cart.name
                div
                  p= cart.des
                  a(href='/cart/:id/delete')
                    | Delete
              td
                h2 1000000 $
      a('/transaction/create') Thue sach
    else
      h2.text-center Cart is empty !
      a(href='/').ml-3  Back to book stores