extends ../layout
block content
  h2.text-center Update user
  form(action=`/users/${user.id}/update` method='post' enctype="multipart/form-data")
    .form-ground
      label(for='avatar') Avatar
      input#avatar.form-control(type='file' name='avatar')
    .form-group
      label(for='exampleInputEmail1') Name
      input#exampleInputEmail1.form-control(type='text', placeholder='Name...' name='name' value=user.name)
    .form-group
      label(for='exampleInputEmail2') Phone
      input#exampleInputEmail2.form-control(type='text', placeholder='Phone...' name='phone' value=user.phone)
    button.btn.btn-primary(type='submit') Update
      

      
    